body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    width: 420px;
	
   
}




.container {
    padding: 15px;
}

h1 {
    text-align: center;
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    color: #00eaff;
}

input[type="text"], input[type="file"] {
    width: 367px;
    padding: 10px;
    margin-bottom: 10px;
    background: rgba(255,255,255,0.1);
    border: 1px solid #00eaff;
    border-radius: 8px;
    color: white;
}

button {
    width: 100%;
    padding: 10px;
    background: #00eaff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background: #00bcd4;
}

#channelList {
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.channel {
    padding: 8px;
    margin: 5px 0;
    background: rgba(255,255,255,0.1);
    border-radius: 6px;
    cursor: pointer;
}

.channel:hover {
    background: rgba(0,234,255,0.3);
}




.video-wrapper {
    position: relative;
    margin-top: 10px;
}

video {
    width: 100%;
    border-radius: 10px;
}

#fullscreenBtn {
    
    bottom: 15px;
    right: 10px;
    width: 100%;
    padding: 6px 10px;
    font-size: 12px;
    background: rgba(0,0,0,0.6);
    border: 1px solid #00eaff;
    color: #00eaff;
    border-radius: 6px;
    cursor: pointer;